.DS_Store
.gradle/
build/
local.properties
secret/apikey.properties
*.log
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
output.json
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json
*.hprof
*.json
